# Pandas Concanenate

In [1]:
import pandas as pd
import pandas_datareader as pdr

### Concatenation is essentially adding either columns or rows to a dataframe

In [2]:
aapl = pdr.get_data_yahoo('AAPL', '20190901')
goog = pdr.get_data_yahoo('GOOG', '20190901')

In [4]:
pd.concat([aapl, goog]).tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-17,1235.000000,1223.689941,1230.400024,1229.150024,955100,1229.150024
2019-09-18,1235.609985,1216.530029,1227.510010,1232.410034,1135100,1232.410034
2019-09-19,1244.439941,1232.020020,1232.060059,1238.709961,996000,1238.709961
2019-09-20,1243.319946,1223.079956,1233.119995,1229.930054,2270000,1229.930054
2019-09-23,1234.796997,1224.170044,1226.000000,1230.209961,313876,1230.209961

In [5]:
astr = ['AAPL'] *len(aapl)
aapl.set_index([astr, aapl.index], inplace=True)

In [6]:
gs = ['GOOG'] * len(goog)
goog.set_index([gs,goog.index],inplace=True)

In [7]:
aapl.head()

                       High         Low        Open       Close    Volume  \
     Date
AAPL 2019-09-03  206.979996  204.220001  206.429993  205.699997  20023000
     2019-09-04  209.479996  207.320007  208.389999  209.190002  19188100
     2019-09-05  213.970001  211.509995  212.000000  213.279999  23913700
     2019-09-06  214.419998  212.509995  214.050003  213.259995  19362300
     2019-09-09  216.440002  211.070007  214.839996  214.169998  27309400

                  Adj Close
     Date
AAPL 2019-09-03  205.699997
     2019-09-04  209.190002
     2019-09-05  213.279999
     2019-09-06  213.259995
     2019-09-09  214.169998

In [8]:
combined = pd.concat([aapl,goog])
combined

                        High          Low         Open        Close    Volume  \
     Date
AAPL 2019-09-03   206.979996   204.220001   206.429993   205.699997  20023000
     2019-09-04   209.479996   207.320007   208.389999   209.190002  19188100
     2019-09-05   213.970001   211.509995   212.000000   213.279999  23913700
     2019-09-06   214.419998   212.509995   214.050003   213.259995  19362300
     2019-09-09   216.440002   211.070007   214.839996   214.169998  27309400
     2019-09-10   216.779999   211.710007   213.860001   216.699997  31777900
     2019-09-11   223.710007   217.729996   218.070007   223.589996  44289600
     2019-09-12   226.419998   222.860001   224.800003   223.089996  32226700
     2019-09-13   220.789993   217.020004   220.000000   218.750000  39763300
     2019-09-16   220.130005   217.559998   217.729996   219.899994  21158100
     2019-09-17   220.820007   219.119995   219.960007   220.699997  18318700
     2019-09-18   222.850006   219.440002   221.059998   222.770004  25340000
     2019-09-19   223.759995   220.369995   222.009995   220.960007  22060600
     2019-09-20   222.559998   217.470001   221.380005   217.729996  55413100
     2019-09-23   219.479996   217.660004   218.949997   218.380005   7650509
GOOG 2019-09-03  1186.890015  1163.199951  1177.030029  1168.390015   1479900
     2019-09-04  1183.479980  1171.000000  1176.709961  1181.410034   1068900
     2019-09-05  1213.040039  1191.530029  1191.530029  1211.380005   1408100
     2019-09-06  1212.015015  1202.521973  1208.130005  1204.930054   1072100
     2019-09-09  1220.000000  1192.619995  1204.000000  1204.410034   1471900
     2019-09-10  1210.000000  1194.579956  1195.150024  1206.000000   1260100
     2019-09-11  1222.599976  1202.199951  1203.410034  1220.170044   1307000
     2019-09-12  1241.859985  1223.020020  1224.300049  1234.250000   1725900
     2019-09-13  1240.880005  1227.010010  1231.349976  1239.560059   1301400
     2019-09-16  1239.560059  1225.609985  1229.520020  1231.300049   1053300
     2019-09-17  1235.000000  1223.689941  1230.400024  1229.150024    955100
     2019-09-18  1235.609985  1216.530029  1227.510010  1232.410034   1135100
     2019-09-19  1244.439941  1232.020020  1232.060059  1238.709961    996000
     2019-09-20  1243.319946  1223.079956  1233.119995  1229.930054   2270000
     2019-09-23  1234.796997  1224.170044  1226.000000  1230.209961    313876

                   Adj Close
     Date
AAPL 2019-09-03   205.699997
     2019-09-04   209.190002
     2019-09-05   213.279999
     2019-09-06   213.259995
     2019-09-09   214.169998
     2019-09-10   216.699997
     2019-09-11   223.589996
     2019-09-12   223.089996
     2019-09-13   218.750000
     2019-09-16   219.899994
     2019-09-17   220.699997
     2019-09-18   222.770004
     2019-09-19   220.960007
     2019-09-20   217.729996
     2019-09-23   218.380005
GOOG 2019-09-03  1168.390015
     2019-09-04  1181.410034
     2019-09-05  1211.380005
     2019-09-06  1204.930054
     2019-09-09  1204.410034
     2019-09-10  1206.000000
     2019-09-11  1220.170044
     2019-09-12  1234.250000
     2019-09-13  1239.560059
     2019-09-16  1231.300049
     2019-09-17  1229.150024
     2019-09-18  1232.410034
     2019-09-19  1238.709961
     2019-09-20  1229.930054
     2019-09-23  1230.209961

In [9]:
combined.loc['GOOG']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-03,1186.890015,1163.199951,1177.030029,1168.390015,1479900,1168.390015
2019-09-04,1183.479980,1171.000000,1176.709961,1181.410034,1068900,1181.410034
2019-09-05,1213.040039,1191.530029,1191.530029,1211.380005,1408100,1211.380005
2019-09-06,1212.015015,1202.521973,1208.130005,1204.930054,1072100,1204.930054
2019-09-09,1220.000000,1192.619995,1204.000000,1204.410034,1471900,1204.410034
2019-09-10,1210.000000,1194.579956,1195.150024,1206.000000,1260100,1206.000000
2019-09-11,1222.599976,1202.199951,1203.410034,1220.170044,1307000,1220.170044
2019-09-12,1241.859985,1223.020020,1224.300049,1234.250000,1725900,1234.250000
2019-09-13,1240.880005,1227.010010,1231.349976,1239.560059,1301400,1239.560059
2019-09-16,1239.560059,1225.609985,1229.520020,1231.300049,1053300,1231.300049
2019-09-17,1235.000000,1223.689941,1230.400024,1229.150024,955100,1229.150024
2019-09-18,1235.609985,1216.530029,1227.510010,1232.410034,1135100,1232.410034
2019-09-19,1244.439941,1232.020020,1232.060059,1238.709961,996000,1238.709961
2019-09-20,1243.319946,1223.079956,1233.119995,1229.930054,2270000,1229.930054
2019-09-23,1234.796997,1224.170044,1226.000000,1230.209961,313876,1230.209961

In [11]:
fb = pdr.get_data_yahoo('FB', '20190901')
amzn = pdr.get_data_yahoo('AMZN', '20190901')

In [12]:
pd.concat([fb, amzn], axis=1)

,High,Low,Open,Close,Volume,Adj Close,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,,,,,
2019-09-03,185.669998,182.110001,184.000000,182.389999,9779400,182.389999,1800.800049,1768.000000,1770.000000,1789.839966,3543000,1789.839966
2019-09-04,187.750000,183.889999,184.649994,187.139999,11308000,187.139999,1807.630005,1796.229980,1805.000000,1800.619995,2324100,1800.619995
2019-09-05,191.360001,187.940002,188.529999,190.899994,13876700,190.899994,1842.000000,1815.579956,1821.949951,1840.719971,3310800,1840.719971
2019-09-06,190.210007,186.350006,190.210007,187.490005,15226800,187.490005,1840.650024,1826.400024,1838.219971,1833.510010,2496900,1833.510010
2019-09-09,188.979996,185.850006,187.729996,188.759995,14722400,188.759995,1850.000000,1824.609985,1841.000000,1831.349976,2999500,1831.349976
2019-09-10,188.100006,184.550003,187.440002,186.169998,15455900,186.169998,1825.810059,1805.339966,1822.750000,1820.550049,2613900,1820.550049
2019-09-11,189.440002,186.080002,186.460007,188.490005,11761700,188.490005,1833.420044,1809.079956,1812.140015,1822.989990,2432800,1822.989990
2019-09-12,190.929993,187.229996,189.860001,187.470001,11419800,187.470001,1853.660034,1834.280029,1837.630005,1843.550049,2823500,1843.550049
2019-09-13,187.970001,186.539993,187.330002,187.190002,11441100,187.190002,1846.119995,1835.170044,1842.010010,1839.339966,1971300,1839.339966
2019-09-16,187.789993,185.770004,186.929993,186.220001,8444800,186.220001,1825.689941,1800.199951,1824.020020,1807.839966,3675500,1807.839966
2019-09-17,188.320007,185.539993,186.660004,188.080002,9671100,188.080002,1823.989990,1804.099976,1807.079956,1822.550049,1982400,1822.550049
2019-09-18,189.080002,186.009995,188.089996,188.139999,9681900,188.139999,1822.060059,1795.500000,1817.040039,1817.459961,2505600,1817.459961
2019-09-19,191.100006,188.149994,188.660004,190.139999,10392700,190.139999,1832.569946,1817.900024,1821.020020,1821.500000,2031500,1821.500000
2019-09-20,193.100006,188.119995,190.660004,189.929993,19934200,189.929993,1830.630005,1780.920044,1821.709961,1794.160034,5341900,1794.160034
2019-09-23,190.100006,185.206207,189.339996,186.380005,5462955,186.380005,1780.800049,1767.459961,1777.000000,1776.380005,1376099,1776.380005