# Reading Excel

In [6]:
import pandas as pd

#### You should specify a sheet name, or other identifier

In [12]:
aapl = pd.read_excel('output.xlsx', 'AAPL').head()
aapl

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-01-03,116.330002,114.760002,115.800003,116.150002,28781900,111.286987
1,2017-01-04,116.510002,115.750000,115.849998,116.019997,21118100,111.162437
2,2017-01-05,116.860001,115.809998,115.919998,116.610001,22193600,111.727715
3,2017-01-06,118.160004,116.470001,116.779999,117.910004,31751900,112.973305
4,2017-01-09,119.430000,117.940002,117.949997,118.989998,33561900,114.008080

#### You can also use a 0-indexed integer

In [13]:
aapl = pd.read_excel('output.xlsx', 0)
aapl.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-01-03,116.330002,114.760002,115.800003,116.150002,28781900,111.286987
1,2017-01-04,116.510002,115.750000,115.849998,116.019997,21118100,111.162437
2,2017-01-05,116.860001,115.809998,115.919998,116.610001,22193600,111.727715
3,2017-01-06,118.160004,116.470001,116.779999,117.910004,31751900,112.973305
4,2017-01-09,119.430000,117.940002,117.949997,118.989998,33561900,114.008080

#### And you can read multiple sheets with list-like syntax

In [15]:
stocks = ['FB', 'GOOG']
pd.read_excel('output.xlsx', stocks)

OrderedDict([('FB',
                        Date        High         Low        Open       Close    Volume  \
              0   2017-01-03  117.839996  115.510002  116.029999  116.860001  20663900
              1   2017-01-04  119.660004  117.290001  117.550003  118.690002  19630900
              2   2017-01-05  120.949997  118.320000  118.860001  120.669998  19492200
              3   2017-01-06  123.879997  120.029999  120.980003  123.410004  28545300
              4   2017-01-09  125.430000  123.040001  123.550003  124.900002  22880400
              5   2017-01-10  125.500000  124.279999  124.820000  124.349998  17324600
              6   2017-01-11  126.120003  124.059998  124.349998  126.089996  18356500
              7   2017-01-12  126.730003  124.800003  125.610001  126.620003  18653900
              8   2017-01-13  129.270004  127.370003  127.489998  128.339996  24884300
              9   2017-01-17  128.339996  127.400002  128.039993  127.870003  15294500
              10  2017-01-18  128.429993  126.839996  128.410004  127.919998  13145900
              11  2017-01-19  128.350006  127.449997  128.229996  127.550003  12195500
              12  2017-01-20  128.479996  126.779999  128.100006  127.040001  19097200
              13  2017-01-23  129.250000  126.949997  127.309998  128.929993  16593600
              14  2017-01-24  129.899994  128.380005  129.380005  129.369995  15162700
              15  2017-01-25  131.740005  129.770004  130.000000  131.479996  18731300
              16  2017-01-26  133.139999  131.440002  131.630005  132.779999  20020100
              17  2017-01-27  132.949997  131.080002  132.679993  132.179993  19539500
              18  2017-01-30  131.580002  129.600006  131.580002  130.979996  18956100
              19  2017-01-31  130.660004  129.520004  130.169998  130.320007  19790500
              20  2017-02-01  133.490005  130.679993  132.250000  133.229996  50139800
              21  2017-02-02  135.490005  130.399994  133.220001  130.839996  54366400
              22  2017-02-03  132.850006  130.759995  131.240005  130.979996  24804900
              23  2017-02-06  132.059998  130.300003  130.979996  132.059998  17058500
              24  2017-02-07  133.000000  131.660004  132.240005  131.839996  14596400
              25  2017-02-08  134.440002  132.440002  132.600006  134.199997  22390600
              26  2017-02-09  134.500000  133.309998  134.490005  134.139999  16470600
              27  2017-02-10  134.940002  133.679993  134.100006  134.190002  15061900
              28  2017-02-13  134.699997  133.699997  134.699997  134.050003  13526200
              29  2017-02-14  134.229996  132.550003  134.100006  133.850006  14364900
              ..         ...         ...         ...         ...         ...       ...
              647 2019-07-31  198.759995  192.679993  196.949997  194.229996  14593500
              648 2019-08-01  198.470001  190.880005  194.169998  192.729996  17777000
              649 2019-08-02  192.619995  188.070007  191.100006  189.020004  15297000
              650 2019-08-05  185.669998  179.339996  184.690002  181.729996  23086700
              651 2019-08-06  185.789993  183.089996  183.690002  184.509995  18035700
              652 2019-08-07  186.369995  181.220001  183.600006  185.149994  15833200
              653 2019-08-08  190.339996  184.050003  186.619995  190.160004  14828900
              654 2019-08-09  190.979996  187.119995  190.000000  187.850006  11058800
              655 2019-08-12  187.589996  184.460007  186.850006  185.369995  10936300
              656 2019-08-13  191.380005  185.369995  185.520004  188.449997  13577000
              657 2019-08-14  185.990005  179.309998  185.800003  179.710007  18903700
              658 2019-08-15  183.199997  180.029999  180.949997  182.589996  12925900
              659 2019-08-16  185.100006  182.360001  183.750000  183.699997  12654600
              660 2019-08-19  187.500000  184.850006  186.009995  186.169998   9691200
              661 2019-08-20  186.000000  182.389999  185.449997  183.809998  10083400
              662 2019-08-21  185.899994  183.139999  185.000000  183.550003   8398200
              663 2019-08-22  184.110001  179.910004  183.429993  182.039993  10821400
              664 2019-08-23  183.130005  176.660004  180.839996  177.750000  17323400
              665 2019-08-26  180.500000  178.240005  179.399994  180.360001   8773600
              666 2019-08-27  184.039993  181.009995  181.929993  181.300003  14399600
              667 2019-08-28  181.949997  178.919998  180.529999  181.759995   9386100
              668 2019-08-29  186.080002  183.470001  183.770004  185.570007  10128700
              669 2019-08-30  186.800003  183.460007  186.779999  185.669998  10774500
              670 2019-09-03  185.669998  182.110001  184.000000  182.389999   9779400
              671 2019-09-04  187.750000  183.889999  184.649994  187.139999  11308000
              672 2019-09-05  191.360001  187.940002  188.529999  190.899994  13876700
              673 2019-09-06  190.210007  186.350006  190.210007  187.490005  15226800
              674 2019-09-09  188.979996  185.850006  187.729996  188.759995  14722400
              675 2019-09-10  188.100006  184.550003  187.440002  186.169998  15449100
              676 2019-09-11  189.440002  186.080002  186.460007  188.789993   7116362

                    Adj Close
              0    116.860001
              1    118.690002
              2    120.669998
              3    123.410004
              4    124.900002
              5    124.349998
              6    126.089996
              7    126.620003
              8    128.339996
              9    127.870003
              10   127.919998
              11   127.550003
              12   127.040001
              13   128.929993
              14   129.369995
              15   131.479996
              16   132.779999
              17   132.179993
              18   130.979996
              19   130.320007
              20   133.229996
              21   130.839996
              22   130.979996
              23   132.059998
              24   131.839996
              25   134.199997
              26   134.139999
              27   134.190002
              28   134.050003
              29   133.850006
              ..          ...
              647  194.229996
              648  192.729996
              649  189.020004
              650  181.729996
              651  184.509995
              652  185.149994
              653  190.160004
              654  187.850006
              655  185.369995
              656  188.449997
              657  179.710007
              658  182.589996
              659  183.699997
              660  186.169998
              661  183.809998
              662  183.550003
              663  182.039993
              664  177.750000
              665  180.360001
              666  181.300003
              667  181.759995
              668  185.570007
              669  185.669998
              670  182.389999
              671  187.139999
              672  190.899994
              673  187.490005
              674  188.759995
              675  186.169998
              676  188.789993

              [677 rows x 7 columns]),
             ('GOOG',
                        Date         High          Low         Open        Close   Volume  \
              0   2017-01-03   789.630005   775.799988   778.809998   786.140015  1657300
              1   2017-01-04   791.340027   783.159973   788.359985   786.900024  1073000
              2   2017-01-05   794.479980   785.020020   786.080017   794.020020  1335200
              3   2017-01-06   807.900024   792.203979   795.260010   806.150024  1640200
              4   2017-01-09   809.966003   802.830017   806.400024   806.650024  1274600
              5   2017-01-10   809.130005   803.510010   807.859985   804.789978  1176800
              6   2017-01-11   808.150024   801.369995   805.000000   807.909973  1065900
              7   2017-01-12   807.390015   799.169983   807.140015   806.359985  1353100
              8   2017-01-13   811.223999   806.690002   807.479980   807.880005  1099200
              9   2017-01-17   807.140015   800.369995   807.080017   804.609985  1362100
              10  2017-01-18   806.205017   800.989990   805.809998   806.070007  1294400
              11  2017-01-19   809.479980   801.799988   805.119995   802.174988   919300
              12  2017-01-20   806.909973   801.690002   806.909973   805.020020  1670000
              13  2017-01-23   820.869995   803.739990   807.250000   819.309998  1963600
              14  2017-01-24   825.900024   817.820984   822.299988   823.869995  1474000
              15  2017-01-25   835.770020   825.059998   829.619995   835.669983  1494500
              16  2017-01-26   838.000000   827.010010   837.809998   832.150024  2973900
              17  2017-01-27   841.950012   820.440002   834.710022   823.309998  2965800
              18  2017-01-30   815.840027   799.799988   814.659973   802.320007  3246600
              19  2017-01-31   801.250000   790.520020   796.859985   796.789978  2160600
              20  2017-02-01   801.190002   791.190002   799.679993   795.695007  2029700
              21  2017-02-02   802.700012   792.000000   793.799988   798.530029  1532100
              22  2017-02-03   806.000000   800.369995   802.989990   801.489990  1463400
              23  2017-02-06   801.669983   795.250000   799.700012   801.340027  1184500
              24  2017-02-07   810.500000   801.780029   803.989990   806.969971  1241200
              25  2017-02-08   811.840027   803.190002   807.000000   808.380005  1155300
              26  2017-02-09   810.659973   804.539978   809.510010   809.559998   989700
              27  2017-02-10   815.250000   809.780029   811.700012   813.669983  1135000
              28  2017-02-13   820.958984   815.489990   816.000000   819.239990  1213300
              29  2017-02-14   823.000000   816.000000   819.000000   820.450012  1054700
              ..         ...          ...          ...          ...          ...      ...
              647 2019-07-31  1234.000000  1207.764038  1223.000000  1216.680054  1725500
              648 2019-08-01  1234.109985  1205.719971  1214.030029  1209.010010  1698500
              649 2019-08-02  1206.900024  1188.939941  1200.739990  1193.989990  1645100
              650 2019-08-05  1175.239990  1140.140015  1170.040039  1152.319946  2597500
              651 2019-08-06  1179.959961  1160.000000  1163.310059  1169.949951  1709400
              652 2019-08-07  1178.444946  1149.624023  1156.000000  1173.989990  1444300
              653 2019-08-08  1205.010010  1173.020020  1182.829956  1204.800049  1468000
              654 2019-08-09  1203.880005  1183.603027  1197.989990  1188.010010  1065700
              655 2019-08-12  1184.959961  1167.671997  1179.209961  1174.709961  1003000
              656 2019-08-13  1204.780029  1171.459961  1171.459961  1197.270020  1294400
              657 2019-08-14  1182.300049  1160.540039  1176.310059  1164.290039  1578700
              658 2019-08-15  1175.839966  1162.109985  1163.500000  1167.260010  1218700
              659 2019-08-16  1182.719971  1171.810059  1179.550049  1177.599976  1313300
              660 2019-08-19  1206.989990  1190.089966  1190.089966  1198.449951  1231600
              661 2019-08-20  1196.060059  1182.109985  1195.250000  1182.689941   915500
              662 2019-08-21  1199.000000  1187.430054  1193.150024  1191.250000   740700
              663 2019-08-22  1198.011963  1178.579956  1194.069946  1189.530029   947500
              664 2019-08-23  1194.079956  1147.750000  1181.989990  1151.290039  1687000
              665 2019-08-26  1169.469971  1152.959961  1157.260010  1168.890015  1226100
              666 2019-08-27  1182.400024  1161.449951  1180.530029  1167.839966  1077200
              667 2019-08-28  1176.420044  1157.300049  1161.709961  1171.020020   802000
              668 2019-08-29  1196.060059  1181.119995  1181.119995  1192.849976  1088400
              669 2019-08-30  1198.500000  1183.802979  1198.500000  1188.099976  1129800
              670 2019-09-03  1186.890015  1163.199951  1177.030029  1168.390015  1479900
              671 2019-09-04  1183.479980  1171.000000  1176.709961  1181.410034  1068900
              672 2019-09-05  1213.040039  1191.530029  1191.530029  1211.380005  1408100
              673 2019-09-06  1212.015015  1202.521973  1208.130005  1204.930054  1072100
              674 2019-09-09  1220.000000  1192.619995  1204.000000  1204.410034  1471900
              675 2019-09-10  1210.000000  1194.579956  1195.150024  1206.000000  1259400
              676 2019-09-11  1222.599976  1202.199951  1203.410034  1222.140015   729282

                     Adj Close
              0     786.140015
              1     786.900024
              2     794.020020
              3     806.150024
              4     806.650024
              5     804.789978
              6     807.909973
              7     806.359985
              8     807.880005
              9     804.609985
              10    806.070007
              11    802.174988
              12    805.020020
              13    819.309998
              14    823.869995
              15    835.669983
              16    832.150024
              17    823.309998
              18    802.320007
              19    796.789978
              20    795.695007
              21    798.530029
              22    801.489990
              23    801.340027
              24    806.969971
              25    808.380005
              26    809.559998
              27    813.669983
              28    819.239990
              29    820.450012
              ..           ...
              647  1216.680054
              648  1209.010010
              649  1193.989990
              650  1152.319946
              651  1169.949951
              652  1173.989990
              653  1204.800049
              654  1188.010010
              655  1174.709961
              656  1197.270020
              657  1164.290039
              658  1167.260010
              659  1177.599976
              660  1198.449951
              661  1182.689941
              662  1191.250000
              663  1189.530029
              664  1151.290039
              665  1168.890015
              666  1167.839966
              667  1171.020020
              668  1192.849976
              669  1188.099976
              670  1168.390015
              671  1181.410034
              672  1211.380005
              673  1204.930054
              674  1204.410034
              675  1206.000000
              676  1222.140015

              [677 rows x 7 columns])])

#### If you need only part of a sheet you can skip rows at the top or bottom

In [17]:
pd.read_excel('output.xlsx', 'FB', skiprows=[0], header=None).head()

,0,1,2,3,4,5,6
0,2017-01-03,117.839996,115.510002,116.029999,116.860001,20663900,116.860001
1,2017-01-04,119.660004,117.290001,117.550003,118.690002,19630900,118.690002
2,2017-01-05,120.949997,118.320000,118.860001,120.669998,19492200,120.669998
3,2017-01-06,123.879997,120.029999,120.980003,123.410004,28545300,123.410004
4,2017-01-09,125.430000,123.040001,123.550003,124.900002,22880400,124.900002

#### Other tips
* By default the first row is going to be used as the header (column names)
* If your data does not have a header, specify header=None
* Pass "names" argument with list of names to add your own custom header
* You can skip rows at either or both the top and/or bottom of the sheet
* Or simply specify how many rows to parse with nrows argument
* You can specify with list notation which columns you are interested in
* Other parameters, see documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas.read_excel